/* index.html main전용 */
#all #wrap main .photo {}
#all #wrap main .contents {
    font-family:'코트라 희망체', 'Noto Sans KR';
    font-size:1.75rem;
    text-align:center;
    line-height:1.5;
    margin:30px;
}