main .car #left_tire,
main .car #right_tire {animation:rotate 1s linear infinite;}
main .bg_wrap .bg1 {animation:bg 100s linear infinite;}
main .bg_wrap .bg2 {animation:bg 30s linear infinite;}
main .bg_wrap .bg3 {animation:bg 10s linear infinite;}

/* animation */
@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(-360deg);}
}
@keyframes bg {
    0% {background-position-x:0px;}
    100% {background-position-x:1000px;}
    /* img태그라면 translate이지만 background-img이기 때문에 background-position-X로 설정을 해줘야함 */
}